html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo { grid-area: logo }
.nav { grid-area: nav }
.header { grid-area: header }
.side { grid-area: side }
.body { grid-area: body }
.foot { grid-area: footer }

.container-grid {
    display: grid;
    grid-template-areas: 
        'logo   logo    logo    logo    logo    logo'
        'nav    nav     nav     nav     nav     nav'
        'header header  header  header  header  header'
        'side   side    body    body    body    body'
        'side   side    body    body    body    body'
        'side   side    body    body    body    body'
        'footer  footer  footer  footer  footer  footer'
        ;
    grid-gap: 2em;
    background-color: #b4b4b4;
    padding: 0.8em;
    min-width: 100%;
    min-height: 100%;
}

.int {
    background-color: #949292;
    text-align: center;
    padding: 0.5em;
}

.logo { 
    background-color: #949292; 
    text-align: left;
    height: 60px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.nav { 
    background-color: #949292; 
    text-align: center;
    height: 30px;
    margin: auto;
}

.header { 
    background-color: #949292; 
    text-align: center;
    height: 90px;
}

.side { 
    background-color: #949292; 
    text-align: center;
    height: 500px;
}

.body { 
    background-color: #949292; 
    text-align: center;
    height: 500px;
}

.foot { 
    background-color: #949292; 
    text-align: center;
    height: 30px;
    margin-bottom: 0.5em;
}


@media screen and (max-width: 640px) {
.container-grid {
    grid-template-areas: 
    'logo   logo    logo    logo    logo    logo'
    'header header  header  header  header  header'
    'nav    nav     nav     nav     nav     nav'
    'body   body    body    body    body    body'
    'side   side    side    side    side    side'
    'footer footer  footer  footer  footer  footer'
    ;       
}

body {
    color: red;
}
}