html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

.logo { grid-area: logo }
.nav { grid-area: nav }
.header { grid-area: header }
.intro { grid-area: intro }
.box1 { grid-area: box1 }
.box2 { grid-area: box2 }
.box3 { grid-area: box3 }
.foot { grid-area: footer }

.container-grid {
    display: grid;
    grid-template-areas: 
        'logo   logo    nav    nav     nav     nav'
        'header header  header  header  header  header'
        'intro  intro   intro   intro   intro   intro'
        'box1   box1    box2    box2    box3    box3'
        'footer footer  footer  footer  footer  footer'
        ;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.int {
    background-color: #bbbbbb;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.logo { 
    text-align: left;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.nav { 
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.header { 
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 15px;
}

.intro { 
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box { 
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 520px;
}

.box2 {
    margin-right: 30px;
    margin-left: 30px;
}

.foot { 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}